Repository netboxlabs/diode-sdk-python, pull requests merged in 2024-12, with the labels that each got.

#29 chore: update grpcio version
  pyproject.toml
Labels: dependencies

#30 chore: GHA release - add missing permissions
  .github/workflows/release.yaml
Labels: github-actions

#31 🚚 release
  .github/ISSUE_TEMPLATE/01-feature_request.yaml
  .github/ISSUE_TEMPLATE/02-bug_report.yaml
  .github/ISSUE_TEMPLATE/03-documentation_change.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/workflows/release.yaml
  README.md
  docs/entities.md
  pyproject.toml
Labels: documentation, github-actions, dependencies, markdown, github-templates

#34 chore: gha - security improvements
  .github/workflows/lint-tests.yml
  .github/workflows/release.yaml
Labels: github-actions
